.about{
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-left{
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: darkgray;
}

.about-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-title{
    font-weight: 400;
}

.about-text{
    margin: 20px 0px;
    font-weight: 300;
    padding-right: 100px;
}

@media screen and (max-width: 600px){
    .about{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        width:fit-content;
    }

    .about-right{
        padding-bottom: none;
        margin: 0;
        width: 50%;
    }

    .about-left{
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 0 auto;
    }

    .a-card{
        height: 30vh;
    }

    .a-card.bg{
        display: none;
    }

    .a-img{
        padding: 20px;
        width: 100%;
        margin-top: 10px;
    }

    .about-text{
        padding: 25px;
        font-size: large;
    }
}