.contact{
    height: 0 auto;
    position: relative;
}

.contact-wrapper{
    padding:50 px;
    display: flex;
}

.contact-left{
    flex: 1;
}

.contact-right{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-title{
    font-size: 60px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    width: 70%;
    position: relative;
}

.contact-info-item{
    display: flex;
    align-items: center;
}

.c-icon{
    padding: 50px;
}

.contact-description{
    font-weight: 200;
}

.contact-description{
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.boundary-contact-box{
    border: 1px dotted black;
    padding: 30px;
    border-radius: 10px;
}

.contact-heading{
    padding-bottom: 10px;
}

.resume{
    text-decoration: none;
    color: black;
}

.resume:visited{
    color: black;
}

@media screen and (max-width: 600px){

    .contact{
        padding: 0px;
        margin: none;
        height: auto;
    }

    .contact-wrapper{
        flex-direction: column;
        align-items: center;
        padding: 0px 50px;
        height: 10vh;
        margin: 0px;
    }

    .contact-info-icon{
        display: none;
    }

    .contact-title{
        font-size: 30px;
    }

    .contact-description{
        padding: 40px;
    }
}